[Ogre] Shadow texture size;1024
[Ogre] Shadow type;18
[Ogre/Camera] Near plane;0
[World] Sun rotation speed;0.5
[Highlight/Hovered] Intensity;1
[Highlight/Hovered] Color;4294967295
[Highlight/Selected] Intensity;1
[Highlight/Selected] Color;4290051840
[Camera] Zoom speed;0.1
[Camera] Movement speed modifier;1.1
[Camera] Movement speed;10
[Camera] Mouse sensitivity;0.005
